<div class="jumbotron">
  <h2>Chatterize</h2>
  <p class="lead">Chat with people in you area!</p>
  <p>
    This project is a work-in-progress.
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
  </div>

  <div class="col-lg-6">
  </div>
</div>
