<div>
  <h1>About Us</h1>
  <p>Chatterize was built by <a href="http://jgefroh.com">Joseph Gefroh</a> to learn Phoenix / Elixir. The source code is available on <a href="https://github.com/jgefroh/chatterize">Github</a>.</p>
  <a href="/">Back to chatting</a>
</div>
